---
permalink: /
layout: default
title: หน้าหลัก
---

<section class="mbr-section mbr-section-hero mbr-section-full mbr-section-with-arrow mbr-after-navbar" id="header4-1"
    data-bg-video="https://www.youtube.com/watch?v=lQWnIA0pJss" data-rv-view="2" >

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-2 text-xs-right">

                    <h1 class="mbr-section-title display-1">เขาไมแกว</h1>
                    <p class="mbr-section-lead lead">ขอพรองค์พระปฐม ชมวิวเมืองใหญ่<br>ศึกษาป่าสมุนไพร อนุรักษ์ไว้เครื่องใช้โบราณ</p>
                    <div class="mbr-section-btn"> <a class="btn btn-lg btn-warning" href="https://www.youtube.com/watch?v=lQWnIA0pJss"><span
                                class="mbri-video mbr-iconfont mbr-iconfont-btn"></span>ชมวิดิโอ</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#header3-5"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-section mbr-section__container article" id="header3-5" data-rv-view="19" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">โครงการชุมชนท่องเที่ยว OTOP นวัตวิถี
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-6" data-rv-view="21" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">
                <p>พลเอก อนุพงษ์ เผ่าจินดา รัฐมนตรีว่าการกระทรวงมหาดไทย กล่าวว่า "โครงท่องเที่ยว OTOP นวัตวิถี"
                    เป็นหนึ่งในโครงการ "ไทยนิยม ยั่งยืน" เป้าหมายสำคัญเพื่อสร้างชุมชนเข้มแข็ง
                    ยกระดับการพัฒนาผลิตภัณฑ์เพื่อสร้างอาชีพและรายได้ให้แก่ชุมชน
                    มุ่งเน้นการพัฒนาศักยภาพของแหล่งท่องเที่ยวให้มีคุณภาพ มาตรฐาน สะอาด และปลอดภัย
                    เพื่อเป็นการเชื่อมโยงสินค้า OTOP และแหล่งท่องเที่ยวเข้าไว้ด้วยกัน
                    โดยตั้งเป้าหมายเพื่อเป็นแนวทางสำหรับการช่วยเหลือผู้ผลิตสินค้า OTOP
                    ในการพัฒนาสินค้าตามภูมิปัญญาท้องถิ่นในพื้นที่ ซึ่งจะช่วยลดต้นทุนการผลิต
                    และส่งเสริมการตลาดแก่ผู้ผลิต คาดหวังให้การขับเคลื่อนโครงการดังกล่าวนำไปสู่การลดความเหลื่อมล้ำ
                    กระจายรายได้สู่เศรษฐกิจฐานราก พัฒนาคุณภาพชีวิตที่ดีขึ้น คนมีความสุขในบ้านของตนเอง
                    ตลอดจนสร้างชุมชนเข้มแข็งอย่างยั่งยืนสืบไป
                </p>
                <small class="mbr-section-subtitle"><a href="./about.html">อ่านต่อ</a></small>
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features1-2" data-rv-view="5" style="background-color: rgb(255, 255, 255);">

    <div class="mbr-cards-row row striped">

        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="./assets/img/product.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">สินค้า OTOP นวัตวิถี</h4>
                        <!-- <h5 class="card-subtitle">ของชุมชนเขาไมแกว</h5> -->
                        <!-- <p class="card-text"></p> -->
                        <div class="card-btn"><a href="/product.html" class="btn btn-primary">ดูรายละเอียด</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="./assets/img/activity.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">กิจกรรม</h4>
                        <!-- <h5 class="card-subtitle">ชุมชนเขาไมแกว</h5> -->
                        <!-- <p class="card-text"></p> -->
                        <div class="card-btn"><a href="/activity.html" class="btn btn-primary">ดูรายละเอียด</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 40px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><img src="./assets/img/map.jpg" class="card-img-top"></div>
                    <div class="card-block">
                        <h4 class="card-title">เส้นทางการท่องเที่ยว</h4>
                        <!-- <h5 class="card-subtitle">ชุมชนเขาไมแกว</h5> -->
                        <!-- <p class="card-text"></p> -->
                        <div class="card-btn"><a href="/map.html" class="btn btn-primary">ดูรายละเอียด</a></div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<section class="mbr-info mbr-info-extra mbr-section mbr-section-md-padding" id="msg-box1-8" data-rv-view="26" style="background-color: rgb(242, 242, 242); padding-top: 90px; padding-bottom: 90px;">


    <div class="container">
        <div class="row">





            <div class="mbr-table-md-up">
                <div class="mbr-table-cell mbr-right-padding-md-up col-md-8 text-xs-center text-md-left">
                    <h2 class="mbr-info-subtitle mbr-section-subtitle">รายชื่อทีมกลยุทธ์ชุมชนท่องเที่ยว OTOP นวัตวิถี ตำบลเขาไมแกว</h2>
                    <h3 class="mbr-info-title mbr-section-title display-2">บุคลากร ชุมชนเขาไมแกว</h3>
                </div>

                <div class="mbr-table-cell col-md-4">
                    <div class="text-xs-center"><a class="btn btn-primary" href="/contact.html">ดูรายชื่อทั้งหมด</a></div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features7-7" data-rv-view="23" style="background-color: rgb(239, 239, 239);">

        <div class="mbr-cards-row row">

                {% for staff in site.data.staff limit:5 %}
        
                {% if staff.title == 'ประธานทีมกลยุทธ์ ชุมชนเขาไมแกว' %}
                <div class="mbr-cards-col col-xs-12 col-lg-4 align-self-center" style="padding-top: 80px; padding-bottom: 80px;"></div>
                <div class="mbr-cards-col col-xs-12 col-lg-4 align-self-center" style="padding-top: 80px; padding-bottom: 80px;">
                    <div class="container">
                        <div class="card cart-block">
                            <div class="card-img "><img src="{{staff.num}}"></div>
                            <div class="card-block">
                                <h4 class="card-title"><a href="mailto:{{staff.email}}">{{staff.name}}</a></h4>
                                <p class="card-text">{{staff.title}}<br>โทร.<a href="tel:{{staff.phone}}"> {{staff.phone}}</a> <br>อีเมลล์ <a href="mailto:{{staff.email}}"> {{staff.email}}</a></p>
        
                            </div>
                        </div>
                    </div>
                </div>
                </div><div class="mbr-cards-row row">
                {% else %}
                <div class="mbr-cards-col col-xs-12 col-lg-3" >
                    <div class="container">
                        <div class="card cart-block">
                            <div class="card-img "><img src="{{staff.num}}"></div>
                            <div class="card-block" style=" min-height: 220px; ">
                                <h4 class="card-title"><a href="mailto:{{staff.email}}">{{staff.name}}</a></h4>
                                <p class="card-text">{{staff.title}}<br>โทร.<a href="tel:{{staff.phone}}"> {{staff.phone}}</a> {% if staff.email != nulled %}<br>อีเมลล์ <a href="mailto:{{staff.email}}"> {{staff.email}}</a>{% endif %}</p>
        
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
</section>

