<script src="{{site.baseurl}}assets/js/all.js"></script>


    
<script src="assets/plugin/web/assets/jquery/jquery.min.js"></script>
<script src="assets/plugin/tether/tether.min.js"></script>
<script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugin/dropdown/js/script.min.js"></script>
<script src="assets/plugin/touch-swipe/jquery.touch-swipe.min.js"></script>
<script src="assets/plugin/viewport-checker/jquery.viewportchecker.js"></script>
<script src="assets/plugin/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js"></script>
<script src="assets/plugin/smooth-scroll/smooth-scroll.js"></script>
<script src="assets/plugin/theme/js/script.js"></script>
<script src="assets/plugin/formoid/formoid.min.js"></script>


<input name="animation" type="hidden">

</body>
</html>
