<section class="mbr-footer footer4 mbr-section mbr-section-md-padding" id="contacts4-3" data-rv-view="8" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="mbr-contacts row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>สนับสนุนโดย</strong><br>
                            สำนักงานพัฒนาชุมชน<br>
                            อำเภอบางละมุง<br><br><br>

                           <img src="./assets/img/logo.png" style="background-color: white;border-radius: 50% ;width: 48px">

                           <img src="./assets/img/logoproject.png" style="background-color: white;border-radius: 50% ;width: 48px">
                           <img src="./assets/img/logogov.png" style="background-color: white;border-radius: 50% ;width: 48px"></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mbr-contacts__text"><strong>ชุมชนเขาไมแกว</strong></p>

                        <ul class="mbr-contacts__list">
                            <li><a class="text-white" href="/index.html"> หน้าหลัก </a></li>
                            <li><a class="text-white" href="/about.html"> เกี่ยวกับชุมชนเขาไมแกว </a></li>
                            <li><a class="text-white" href="/product.html"> สินค้า OTOP นวัตวิถี </a></li>
                            <li><a class="text-white" href="/activity.html"> กิจกรรม </a></li>
                            <li><a class="text-white" href="/map.html"> แผนที่การเดินทาง </a></li>
                            <!-- <li><a class="text-white" href="gallery.html"> Gallery </a></li> -->
                            <li><a class="text-white" href="/contact.html"> ติดต่อ </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" data-form-type="formoid">
                <div data-form-alert="true">
                    <div hidden="" data-form-alert-success="true">ขอคุณที่ส่งข้อความถึงเรา</div>
                </div>
                <form action="https://mobirise.com/" method="post" data-form-title="MESSAGE">
                    <input type="hidden" value="3FvwGOSTUE5lbk6/l7S7BS4JB3/U3oPrdvzKLTvzik3WYvg9cSM4xUyBUxAr6fzkwGtMh1P7JZhcGvqlm4k3X/NmWWEbenebs2lN5dQwKFe/b28cOORjWHTlV9/nGDsR"
                        data-form-email="true">

                    <div class="form-group">
                            <label class="form-control-label" for="contacts4-3-email">ชื่อ<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control input-sm input-inverse" name="email" required=""
                                data-form-field="Email" id="contacts4-3-email">
                            <label class="form-control-label" for="contacts4-3-email">Email<span class="form-asterisk">*</span></label>
                            <input type="email" class="form-control input-sm input-inverse" name="email" required=""
                                data-form-field="Email" id="contacts4-3-email">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-3-message">ข้อความ</label>
                        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message"
                            rows="4" id="contacts4-3-message"></textarea>
                    </div>
                    <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="btn btn-sm btn-black">ส่งข้อความถึงเรา</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-4" data-rv-view="17" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container text-xs-center">
        <p>Copyright (c) 2016 khaomaikaewtour. <br><span style="visibility:hidden;"> Design by <a href="http://magnamm.github.io">magnamm studio</a></span></p>
    </div>
</footer>
