
<!-- <script src="assets/plugin/web/assets/jquery/jquery.min.js"></script> -->
<!-- <script src="assets/plugin/tether/tether.min.js"></script> -->
<!-- <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script> -->
<!-- <script src="assets/pluginX/dropdown/js/script.min.js"></script> -->
<!-- <script src="assets/plugin/touch-swipe/jquery.touch-swipe.min.js"></script> -->
<!-- <script src="assets/pluginx/viewport-checker/jquery.viewportchecker.js"></script> -->
<!-- <script src="assets/plugin/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js"></script> -->
<!-- <script src="assets/plugin/smooth-scroll/smooth-scroll.js"></script> -->
<!-- <script src="assets/pluginX/theme/js/script.js"></script> -->
<!-- <script src="assets/plugin/formoid/formoid.min.js"></script> -->

<script src="{{site.baseurl}}assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}assets/js/tether.min.js"></script>
<script src="{{site.baseurl}}assets/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}assets/js/bootstrap-carousel-swipe.js"></script>
<script src="{{site.baseurl}}assets/js/jquery.touch-swipe.min.js"></script>
<script src="{{site.baseurl}}assets/js/jquery.mb.ytplayer.min.js"></script>
<script src="{{site.baseurl}}assets/js/formoid.min.js"></script>
<script src="{{site.baseurl}}assets/js/smooth-scroll.js"></script>
<script src="{{site.baseurl}}assets/js/jquery.viewportchecker.js"></script>
<script src="{{site.baseurl}}assets/js/all.js"></script>

<script src="{{site.baseurl}}assets/plugin/mobirise-gallery/player.min.js"></script>
<script src="{{site.baseurl}}assets/plugin/mobirise-gallery/script.js"></script>
<script src="{{site.baseurl}}assets/plugin/mobirise-slider-video/script.js"></script>

<input name="animation" type="hidden">

</body>
</html>
