<header>
    <section id="ext_menu-0" data-rv-view="0">
        <nav class="navbar navbar-dropdown transparent navbar-fixed-top bg-color">
            <div class="container">
                <div class="mbr-table">
                    <div class="mbr-table-cell">
                        <div class="navbar-brand">
                            <a href="/index.html" class="navbar-logo"><img src="https://via.placeholder.com/120x120" alt="ชุมชนเขาไม้แก้ว"></a>
                        </div>
                    </div>

                    <div class="mbr-table-cell">
                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>

                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                            <li class="nav-item"><a class="nav-link link" href="/about.html"> เกี่ยวกับชุมชนเขาไม้แก้ว  </a></li>
                            <li class="nav-item"><a class="nav-link link" href="/product.html"> สินค้า OTOP นวัตวิถี </a></li>
                            <li class="nav-item"><a class="nav-link link" href="/activity.html"> กิจกรรม </a></li>
                            <li class="nav-item"><a class="nav-link link" href="/map.html"> แผนที่การเกินทาง </a></li>
                            <!-- <li class="nav-item"><a class="nav-link link" href="/gallery.html"> Gallery </a></li> -->
                            <li class="nav-item"><a class="nav-link link" href="/contact.html"> ติดต่อ </a></li>
                        </ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</header>
