{% include head.html %}
  {% include header.html %}

<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-r" data-rv-view="47" style="background-image: url({{ page.hero }}); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">{{ page.title }}</h3>
                <div class="lead"><p>{{ page.subtitle }}</p></div>
            </div>
        </div>
    </div>

</section>

    {{ content }}
  {% include footer.html %}
{% include foot.html %}
